body {
    background-color: var(--background-color);
    font-family: var(--primary-font);
    font-size: 16px;
}

:root {
    --primary-color: #AE9BA4;
    --secondary-color: #AC514C;
    --highlight-color: #FDCE1D;
    --success-color: #2BA518;
    --danger-color: #721418;
    --neutral-color: #77737A;
    --text-color: #0E0B07;
    --blank: #BD9776;
    --background-color: #CFC1BC;
    --secondary-font: "Onest", sans-serif;
    --primary-font: "STIX Two Text", serif;


}

p,
a,
li {
    font-family: var(--secondary-font);
    line-height: 1.6rem;
    font-size: 1.1rem;
}

p.italics {
    font-style: italic;
}

.emphasized {
    font-weight: 700;
}

.btn {
    border-radius: 6px;
    border-width: 2px;
    transition: 0.3s ease-in-out;
    font-family: var(--secondary-font);
}

/* Filled button properties */

.btn-primary {
    background-color: var(--blank);
    border-color: var(--blank);
}

.btn-primary:hover {
    background-color: var(--neutral-color);
    border-color: var(--blank);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.btn-secondary:hover {
    background-color: var(--neutral-color);
    border-color: var(--secondary-color);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}
.btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
}
.btn-success:hover {
    background-color: var(--neutral-color);
    border-color: var(--success-color);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}
.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}
.btn-danger:hover {
    background-color: var(--neutral-color);
    border-color: var(--danger-color);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}

.btn-warning {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}
.btn-warning:hover {
    background-color: var(--neutral-color);
    border-color: var(--highlight-color);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}

/* Outlined button properties */

.btn-outline-primary {
    background-color: transparent; /* No fill */
    color: var(--text-color); /* Text color */
    border-color: var(--blank);
}

.btn-outline-primary:hover {
    background-color: var(--neutral-color);
    border-color: var(--blank);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}

.btn-outline-secondary {
    background-color: transparent; /* No fill */
    color: var(--text-color); /* Text color */
    border-color: var(--secondary-color);
}
.btn-outline-secondary:hover:hover {
    background-color: var(--neutral-color);
    border-color: var(--secondary-color);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}
.btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
}
.btn-success:hover {
    background-color: var(--neutral-color);
    border-color: var(--success-color);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}
.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}
.btn-danger:hover {
    background-color: var(--neutral-color);
    border-color: var(--danger-color);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}

.btn-warning {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}
.btn-warning:hover {
    background-color: var(--neutral-color);
    border-color: var(--highlight-color);
     /* Adding drop shadow */
     box-shadow: 4px 4px 10px rgba(23, 23, 23, 0.2);
}
